<div class="grid grid-cols-1 md:grid-cols-12 gap-4">
  <div class="col-span-6">
    <p class="text-sm font-bold">Select Associates</p>
    <ag-grid-angular
      class="ag-theme-alpine"
      [rowData]="selectAssociates"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [pagination]="true"
      [paginationPageSize]="paginationPageSize"
      [paginationPageSizeSelector]="paginationPageSizeSelector"
      [domLayout]="'autoHeight'"
      (gridReady)="onGridReady($event)"
      [rowSelection]="rowSelection"
      (rowSelected)="onAssociationSelected()"
    />
  </div>
  <div class="col-span-6">
    <p class="text-sm font-bold">Selected Associates To Map</p>
    <ag-grid-angular
      class="ag-theme-alpine"
      [rowData]="selectedAssociates"
      [columnDefs]="columnDefs"
      [pagination]="true"
      [paginationPageSize]="paginationPageSize"
      [paginationPageSizeSelector]="paginationPageSizeSelector"
      [domLayout]="'autoHeight'"
    />
  </div>
</div>
