<div *ngIf="!isMapAssociationsMode">
  <div class="header">
    <h3>Associations Linked</h3>
    <div class="header-right-section">
      <button
        class="button text-sm ml-2"
        *appCanCreate="screen"
        (click)="onMapAssociationClick()"
      >
        Map New Association
      </button>
      <button
        class="button btn-danger text-sm ml-2"
        *appCanEdit="screen"
        (click)="onDelete()"
      >
        Remove Association
      </button>
    </div>
  </div>
  <div class="p-2 ag-theme-alpine">
    <ag-grid-angular
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [pagination]="true"
      [paginationPageSize]="paginationPageSize"
      [paginationPageSizeSelector]="paginationPageSizeSelector"
      [domLayout]="'autoHeight'"
      (gridReady)="onGridReady($event)"
      [rowSelection]="rowSelection"
    />
  </div>
</div>

<!-- Map Association section -->
<div *ngIf="isMapAssociationsMode">
  <div class="header">
    <h3>Map Associations</h3>
    <div class="header-right-section">
      <button class="btn-warning text-sm ml-2" (click)="onCancel()">
        Cancel
      </button>
      <button class="btn-primary text-sm ml-2" (click)="onSave()">
        Save Changes
      </button>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
    <div class="col-span-6">
      <p class="text-sm font-bold p-2 mt-2">Select Associations</p>
      <div class="ag-theme-alpine">
        <ag-grid-angular
          class="ag-theme-alpine"
          [rowData]="selectionRowData"
          [columnDefs]="selectionColumnDefs"
          [defaultColDef]="defaultColDef"
          [pagination]="true"
          [paginationPageSize]="paginationPageSize"
          [paginationPageSizeSelector]="paginationPageSizeSelector"
          [domLayout]="'autoHeight'"
          (gridReady)="onSelectGridReady($event)"
          [rowSelection]="rowSelection"
          (rowSelected)="onAssociationSelected($event)"
        />
      </div>
    </div>
    <div class="col-span-6">
      <p class="text-sm font-bold p-2 mt-2">Selected Associations To Map</p>
      <div class="ag-theme-alpine">
        <ag-grid-angular
          class="ag-theme-alpine"
          [rowData]="selectedRowData"
          [columnDefs]="selectionColumnDefs"
          [pagination]="true"
          [paginationPageSize]="paginationPageSize"
          [paginationPageSizeSelector]="paginationPageSizeSelector"
          [domLayout]="'autoHeight'"
        />
      </div>
    </div>
  </div>
</div>
