<div class="relative w-full min-h-[200px] overflow-hidden">
  <app-loader></app-loader>
  <app-tabs
    *ngIf="activeMember"
    [tabs]="membersTabs"
    [activeTabIndex]="activeMemberTab"
    (tabSelected)="onTabChange($event)"
  ></app-tabs>

  <div class="side-tab-section flex justify-start items-stretch">
    <aside class="side-tab border-r-gray-200 border-r-2">
      <button
        *ngFor="let tab of sideTab; let i = index"
        class="side-tab-button tab-button block min-w-3xs border-2 border-t-gray-100 border-x-gray-100 text-left"
        [class.active]="activeSideTab === i"
        (click)="selectTab(i)"
      >
        {{ tab }}
      </button>
    </aside>
    <main class="side-tab-content w-full min-h-[400px] p-4">
      <div *ngIf="activeSideTab === 0" class="w-full">
        <app-personal-section *ngIf="this.activeMember" [member]="activeMember"></app-personal-section>
      </div>
      <div *ngIf="activeSideTab === 1" class="tab-content">
        <app-sacraments-section *ngIf="this.activeMember" [memberId]="activeMember.id" [recordId]="recordId"></app-sacraments-section>
      </div>
      <div *ngIf="activeSideTab === 2" class="tab-content">
        <app-add-document *appCanCreate="screen"></app-add-document>
        <div class="flex w-full">
          <app-document-view></app-document-view>
        </div>
      </div>
      <div *ngIf="activeSideTab === 3" class="tab-content">
        <h2>Migration Details</h2>
        <p>Migration details will be displayed here.</p>
      </div>
    </main>
  </div>
</div>
