<div class="relative w-full min-h-[200px] overflow-hidden">
  <app-loader></app-loader>
  <app-tabs
    *ngIf="!isEditMode"
    [tabs]="membersTabs"
    (tabSelected)="onTabChange($event)"
  ></app-tabs>

  <div class="side-tab-section flex justify-start items-stretch">
    <aside class="side-tab border-r-gray-200 border-r-2">
      <button
        *ngFor="let tab of sideTab; let i = index"
        class="side-tab-button tab-button block min-w-3xs border-2 border-t-gray-100 border-x-gray-100 text-left"
        [class.active]="activeSideTab === i"
        (click)="selectTab(i)"
      >
        {{ tab }}
      </button>
    </aside>
    <main class="side-tab-content w-full min-h-[400px] p-4">
      <form *ngIf="memberForm" [formGroup]="memberForm">
        <div *ngIf="activeSideTab === 0" class="w-full">
          <app-personal-section
            [isEditMode]="isEditMode"
            [memberForm]="memberForm"
          ></app-personal-section>
        </div>
        <div *ngIf="activeSideTab === 1" class="tab-content">
          <app-sacraments-section
            [isEditMode]="isEditMode"
            [memberForm]="memberForm"
          ></app-sacraments-section>
        </div>
        <div *ngIf="activeSideTab === 2" class="tab-content">
          <div class="flex items-center">
            <div class="w-1/5 h-50 shadow-sm relative m-4">
              <footer
                class="absolute bottom-0 w-full h-10 bg-primary-color p-2 text-white"
              >
                <span>Document 1</span>
              </footer>
            </div>
            <div class="w-1/5 h-50 shadow-sm relative m-4">
              <footer
                class="absolute bottom-0 w-full h-10 bg-primary-color p-2 text-white"
              >
                <span>Document 2</span>
              </footer>
            </div>
          </div>
        </div>
        <div *ngIf="activeSideTab === 3" class="tab-content">
          <h2>Migration Details</h2>
          <p>Migration details will be displayed here.</p>
        </div>
      </form>
    </main>
  </div>
  <app-footer
    [isEditMode]="isEditMode"
    (modeUpdated)="onModeUpdated($event)"
  ></app-footer>
</div>
