<div class="header">
  <h1>Expense Details</h1>
  <div class="header-right-section">
    <span
      class="text-primary-color cursor-pointer font-bold hover:text-secondary-color hover:underline"
      (click)="onBackClick()"
      ><fa-icon [icon]="faArrowLeft"></fa-icon>Payments List</span
    >
  </div>
</div>

<div [formGroup]="expenseForm" class="form-section-3 p-4">
  <!-- Expense Date -->
  <div class="form-group">
    <label>Expense Date</label>
    <input type="date" formControlName="date" />
  </div>

  <!-- Paid To -->
  <div class="form-group">
    <label>Paid To</label>
    <input type="text" formControlName="paid_to" />
  </div>

  <!-- Paid By -->
  <div class="form-group">
    <label>Paid By</label>
    <input type="text" formControlName="paid_by" />
  </div>

  <!-- Account -->
  <div class="form-group">
    <label>Account</label>
    <select formControlName="account_id">
      <option
        *ngFor="let account of accounts; let i = index"
        [value]="account.id"
      >
        {{ account.name }}
      </option>
    </select>
  </div>

  <!-- Amount -->
  <div class="form-group">
    <label>Amount</label>
    <input type="number" formControlName="amount" />
  </div>

  <!-- Currency -->
  <div class="form-group">
    <label>Currency</label>
    <input type="text" formControlName="currency" />
  </div>

  <!-- Payment Method -->
  <div class="form-group">
    <label>Payment Method</label>
    <select formControlName="payment_method" value="cash">
      <option value="cash">CASH</option>
      <option value="upi">UPI</option>
      <option value="online_payment">Online Payment</option>
    </select>
  </div>

  <!-- Remarks -->
  <div class="form-group col-span-2">
    <label>Description</label>
    <input type="text" formControlName="description" />
  </div>
</div>

<app-footer
  (modeUpdated)="onModeUpdate($event)"
  [isEditMode]="isEditMode"
></app-footer>
