<div class="header">
  <h3>Service Intentions</h3>
  <div class="header-right-section">
    <select
      class="text-xs"
      [(ngModel)]="selectedDuration"
      (change)="onDurationUpdate()"
    >
      <option value="week">This Week</option>
      <option value="today">Today</option>
      <option value="month">This Month</option>
      <option value="year">This Year</option>
    </select>
  </div>
</div>
<div class="ag-theme-alpine">
  <ag-grid-angular
    class="ag-theme-alpine rounded-none"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
    [domLayout]="'autoHeight'"
    (gridReady)="onGridReady($event)"
  />
</div>
