<div class="header">
  <h1>Family Record List</h1>
  <div class="header-right-section">
    <button class="button" *appCanCreate="screen">Create</button>
  </div>
</div>
<div class="h-[80vh] p-2 ag-theme-alpine">
  <ag-grid-angular
    class="w-full h-full ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
  />
</div>
