<div [formGroup]="memberForm" class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4 p-4">
  <!-- Field 1 -->
  <div class="form-group">
    <label>First Name</label>
    <input
      type="text"
      formControlName="first_name"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 2 -->
  <div class="form-group">
    <label>Last Name</label>
    <input
      type="text"
      formControlName="last_name"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 3 -->
  <div class="form-group">
    <label>Mobile</label>
    <input
      type="text"
      formControlName="phone"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 4 -->
  <div class="form-group">
    <label>Relationship</label>
    <input
      type="text"
      formControlName="relationship"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 5 -->
  <div class="form-group">
    <label>Father's Name</label>
    <input
      type="text"
      formControlName="father"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 6 -->
  <div class="form-group">
    <label>Mother's Name</label>
    <input
      type="text"
      formControlName="mother"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 7 -->
  <div class="form-group">
    <label>Date of Birth</label>
    <input
      type="text"
      formControlName="dob"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 8 -->
  <div class="form-group">
    <label>Place of Birth</label>
    <input
      type="text"
      formControlName="birth_place"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 9 -->
  <div class="form-group">
    <label>Age</label>
    <input
      type="text"
      formControlName="age"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 10 -->
  <div class="form-group">
    <label>Gender</label>
    <input
      type="text"
      formControlName="gender"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 11 -->
  <div class="form-group">
    <label>Email</label>
    <input
      type="text"
      formControlName="email"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 12 -->
  <div class="form-group">
    <label>Qualification</label>
    <input
      type="text"
      formControlName="qualification"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 13 -->
  <div class="form-group">
    <label>Occupation</label>
    <input
      type="text"
      formControlName="occupation"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 14 -->
  <div class="form-group col-span-2 lg:grid-cols-6">
    <label>Adress</label>
    <input
      type="text"
      formControlName="address"
      class="lg:col-span-5"
    />
  </div>
</div>
