<div [formGroup]="memberForm" class="grid gap-5">
  <!-- Field 1 -->
  <div class="form-group">
    <label>First Name</label>
    <input
      type="text"
      formControlName="first_name"
      placeholder="First Name is required"
      [ngClass]="{ invalid: isInvalid('first_name') }"
    />
  </div>

  <!-- Field 3 -->
  <div class="form-group">
    <label>Last Name</label>
    <input
      type="text"
      formControlName="last_name"
      placeholder="Last Name is required"
      [ngClass]="{ invalid: isInvalid('last_name') }"
    />
  </div>

  <!-- Field 4 -->
  <div class="form-group">
    <label>Contact</label>
    <div class="grid md:grid-cols-7 gap-1">
      <select class="col-span-2">
        <option value="+91">+91</option>
      </select>
      <input
        type="text"
        formControlName="contact"
        class="col-span-5"
        [ngClass]="{ invalid: isInvalid('contact') }"
      />
    </div>
  </div>

  <!-- Field 5 -->
  <div class="form-group">
    <label>Relationship</label>
    <select formControlName="relationship">
      <option value="head-of-family">Head Of Family</option>
      <option value="spouse">Spouse</option>
      <option value="father">Father</option>
      <option value="mother">Mother</option>
      <option value="son">Son</option>
      <option value="daughter">Daughter</option>
      <option value="brother">Brother</option>
      <option value="sister">Sister</option>
      <option value="daughter-in-law">Daughter-in-Law</option>
      <option value="son-in-law">Son-in-Law</option>
      <option value="grand-father">Grand Father</option>
      <option value="grand-mother">Grand Mother</option>
      <option value="grand-son">Grand Son</option>
      <option value="grand-daughter">Grand Daughter</option>
      <option value="relative">Relative</option>
      <option value="other">Other</option>
    </select>
  </div>

  <!-- Field 6 -->
  <div class="form-group">
    <label>Father's Name</label>
    <input type="text" formControlName="father" />
  </div>

  <!-- Field 7 -->
  <div class="form-group">
    <label>Mother's Name</label>
    <input type="text" formControlName="mother" />
  </div>

  <!-- Field 8 -->
  <div class="form-group">
    <label>Date of Birth</label>
    <input type="date" formControlName="dob" />
  </div>

  <!-- Field 9 -->
  <div class="form-group">
    <label>Gender</label>
    <select formControlName="gender" class="md:col-span-2">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>
  </div>

  <!-- Field 10 -->
  <div class="form-group">
    <label>Email</label>
    <input
      type="text"
      formControlName="email"
      [ngClass]="{ invalid: isInvalid('email') }"
    />
  </div>

  <!-- Field 11 -->
  <div class="form-group">
    <label>Qualification</label>
    <input type="text" formControlName="qualification" />
  </div>

  <!-- Field 12 -->
  <div class="form-group">
    <label>Occupation</label>
    <input type="text" formControlName="occupation" />
  </div>

  <!-- Birth Place section -->
  <app-section-form [title]="'Birth Place'" class="md:col-span-3">
    <div class="form-section-3" formGroupName="birth_place">
      <!-- City -->
      <div class="form-group">
        <label>City</label>
        <input type="text" formControlName="city" />
      </div>
      <!-- State -->
      <div class="form-group">
        <label>State</label>
        <input type="text" formControlName="state" />
      </div>
      <!-- Country -->
      <div class="form-group">
        <label>Country</label>
        <input type="text" formControlName="country" />
      </div>
    </div>
  </app-section-form>

  <!-- God Parents Details  -->
  <div class="md:col-span-3 grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
    <!-- God Father Details  -->
    <app-section-form [title]="'God Father Details'" formGroupName="god_father">
      <!-- God Father name -->
      <div class="form-group">
        <label>God Father</label>
        <input type="text" formControlName="name" />
      </div>

      <!-- God Father Baptism Name -->
      <div class="form-group">
        <label>Baptism Name</label>
        <input type="text" formControlName="baptism_name" />
      </div>

      <!-- God Father Parish -->
      <div class="form-group">
        <label>Parish</label>
        <input type="text" formControlName="parish" />
      </div>

      <!-- God Father Contact -->
      <div class="form-group">
        <label>Contact</label>
        <input type="text" formControlName="contact" />
      </div>
    </app-section-form>

    <!-- God Mother details  -->
    <app-section-form [title]="'God Mother Details'" formGroupName="god_mother">
      <!-- God Mother name -->
      <div class="form-group">
        <label>God Mother</label>
        <input type="text" formControlName="name" />
      </div>

      <!-- God Mother Baptism Name -->
      <div class="form-group">
        <label>Baptism Name</label>
        <input type="text" formControlName="baptism_name" />
      </div>

      <!-- God Mother Parish -->
      <div class="form-group">
        <label>Parish</label>
        <input type="text" formControlName="parish" />
      </div>

      <!-- God Mother Contact -->
      <div class="form-group">
        <label>Contact</label>
        <input type="text" formControlName="contact" />
      </div>
    </app-section-form>
  </div>
</div>

<app-footer
  *appCanEdit="screen"
  [isEditMode]="isEditMode"
  (modeUpdated)="onModeUpdated($event)"
></app-footer>
