<div class="fixed z-10 w-full h-16 bg-primary-color border-b-2 border-secondary-color p-1">
    <div class="flex justify-between items-center">
        <div class="flex items-center">
            <fa-icon [icon]="faBars" class="md:hidden text-white text-2xl m-2.5 hover:cursor-pointer hover:text-secondary-color"></fa-icon>
            <img src="img/parish360.png" class="h-14 mx-2.5" />
        </div>
        <div class="flex items-center">
            <fa-icon [icon]="faBell" class="text-white mx-3.5 text-2xl hover:cursor-pointer hover:text-secondary-color"></fa-icon>
            <div>
                <img src="img/profile.png" class="h-10 mx-3.5 rounded-full hover:cursor-pointer" />
            </div>
        </div>
    </div>
</div>