/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --default-font-family: "Roboto", sans-serif;
  --color-primary-color: #003333;
  --color-secondary-color: #e7ae27;
}

@layer base {
  h1 {
    @apply text-2xl font-bold text-primary-color;
  }

  input,
  select {
    @apply rounded-md border-gray-300 border-1 p-2 focus:border-secondary-color focus:outline-none text-sm font-medium;
  }

  label {
    @apply text-sm font-medium text-gray-700;
  }

  button {
    @apply bg-primary-color font-semibold text-white py-2 px-4 rounded hover:bg-white hover:text-primary-color hover:outline-1 hover:border-secondary-color transition-colors cursor-pointer;
  }

  fa-icon {
    @apply mr-2;
  }
}

@layer components {
  .header {
    @apply flex justify-between items-center p-2 shadow-md;
  }

  .tabs {
    @apply flex w-full border-b-2 border-gray-200;
  }

  .tab-button {
    @apply px-6 py-3 text-sm font-bold text-gray-700 outline-none rounded-none bg-white border-b-2 border-transparent hover:text-secondary-color hover:border-b-secondary-color hover:cursor-pointer transition;
  }

  .tab-button.active {
    @apply text-secondary-color bg-gray-100 border-b-secondary-color;
  }

  .form-group {
    @apply grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 shadow-sm items-center p-2;
  }

  .btn-warning {
    @apply bg-secondary-color hover:bg-white hover:text-secondary-color hover:outline-secondary-color hover:border-secondary-color;
  }

  .btn-danger {
    @apply bg-red-700 hover:bg-white hover:text-red-700 hover:outline-red-700 hover:border-red-700;
  }

  .accordion-btn {
    @apply w-full px-4 py-3 bg-white rounded-none text-primary-color hover:bg-gray-100 hover:text-secondary-color transition flex justify-between items-center;
  }
  .paid-cell {
    background-color: #d4edda !important;
    color: #155724;
    font-weight: bold;
  }

  .unpaid-cell {
    background-color: #f8f9fa;
    color: #6c757d;
  }
}
