<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-10 mt-8 mx-4">
  <div class="summary-card">
    <fa-icon [icon]="faPeopleGroup"></fa-icon>
    <p>{{ summary.number_of_associations }}</p>
    <h3>Associations</h3>
  </div>

  <div class="summary-card">
    <fa-icon [icon]="faUsersRectangle"></fa-icon>
    <p>{{ summary.number_of_units }}</p>
    <h3>Units</h3>
  </div>

  <div class="summary-card">
    <fa-icon [icon]="faPeopleRoof"></fa-icon>
    <p>{{ summary.number_of_families }}</p>
    <h3>Families</h3>
  </div>

  <div class="summary-card">
    <fa-icon [icon]="faUsers"></fa-icon>
    <p>{{ summary.number_of_members }}</p>
    <h3>Members</h3>
  </div>
</div>
