<div [formGroup]="memberForm">
  <div formArrayName="sacraments_details">
    <ng-container
      *ngFor="let sacrament of sacramentFormArray.controls; let i = index"
    >
      <div [formGroupName]="i">
        <app-accordion
          [title]="getSacramentTypeName(i)"
          [deleteEnabled]="isEditMode"
          (remove)="removeSacrament(i)"
        >
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
            <div class="form-group">
              <label>Type</label>
              <select id="type" formControlName="type" class="lg:col-span-2">
                <option value="">Select Type</option>
                <option *ngFor="let type of sacramentTypes" [value]="type.id">
                  {{ type.name }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Date</label>
              <input type="text" formControlName="date" class="lg:col-span-2" />
            </div>
            <div class="form-group">
              <label>Place</label>
              <input
                type="text"
                formControlName="place"
                class="lg:col-span-2"
              />
            </div>
            <div class="form-group">
              <label>Parish</label>
              <input
                type="text"
                formControlName="parish"
                class="lg:col-span-2"
              />
            </div>
            <div class="form-group">
              <label>Priest</label>
              <input
                type="text"
                formControlName="priest"
                class="lg:col-span-2"
              />
            </div>
            <div class="form-group" *ngIf="sacrament.get('god_father')?.value">
              <label>God Father</label>
              <input
                type="text"
                formControlName="god_father"
                class="lg:col-span-2"
              />
            </div>
            <div class="form-group" *ngIf="sacrament.get('god_mother')?.value">
              <label>God Mother</label>
              <input
                type="text"
                formControlName="god_mother"
                class="lg:col-span-2"
              />
            </div>
            <div class="form-group" *ngIf="sacrament.get('spouse')?.value">
              <label>Spouse</label>
              <input
                type="text"
                formControlName="spouse"
                class="lg:col-span-2"
              />
            </div>
          </div>
        </app-accordion>
      </div>
    </ng-container>
    <button
      class="accordion-btn border-1 border-primary-color hover:border-none justify-center"
      (click)="addSacrament()"
      *ngIf="isEditMode"
    >
      <fa-icon [icon]="faPlus"></fa-icon> Add Sacrament
    </button>
  </div>
</div>
