<div class="main" *ngIf="this.auth.isAuthenticated()">
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>
  <div
    class="md:w-5/6 min-h-screen max-h-screen md:ml-auto pt-16 overflow-auto"
  >
    <router-outlet></router-outlet>
    <app-toast></app-toast>
  </div>
</div>
<div class="flex" *ngIf="!this.auth.isAuthenticated()">
  <div
    class="bg-[url('/img/background.jpg')] bg-cover bg-center h-screen w-full flex items-center justify-end p-5"
  >
    <router-outlet></router-outlet>
  </div>
</div>
