<div class="header">
  <h1>Family Record Details</h1>
</div>
<div class="panel m-4 shadow-sm">
  <app-tabs [tabs]="familyTabs" [activeTabIndex]="activeTabIndex"></app-tabs>

  <app-family-info
    [recordId]="recordId"
    *ngIf="this.activeTabIndex === 0"
  ></app-family-info>
  <app-members
    [recordId]="recordId"
    *ngIf="this.activeTabIndex === 1"
  ></app-members>
  <app-blessings-section
    [recordId]="recordId"
    *ngIf="this.activeTabIndex === 2"
  ></app-blessings-section>
  <app-subscriptions
    [recordId]="recordId"
    *ngIf="this.activeTabIndex === 3"
  ></app-subscriptions>
  <app-payments
    [recordId]="recordId"
    *ngIf="this.activeTabIndex === 4"
  ></app-payments>
  <app-miscellenous
    [recordId]="recordId"
    *ngIf="this.activeTabIndex === 5"
  ></app-miscellenous>
</div>
