<!-- src/app/toast/toast.component.html -->
<div
  *ngIf="message"
  class="fixed inset-0 flex items-start justify-center z-50 mt-4"
>
  <div
    [ngClass]="{
      'bg-green-500/80': message.type === 'success',
      'bg-red-500/80': message.type === 'error',
      'bg-yellow-500/80': message.type === 'warning',
      'bg-primary-color/80': message.type === 'info'
    }"
    class="flex items-start justify-between text-white text-md px-6 py-4 rounded-lg shadow-lg animate-fade-in-out max-w-md w-full mx-4"
  >
    <span class="text-center w-full">{{ message.text }}</span>
    <span
      (click)="close()"
      class="ml-4 text-lg text-primary-color hover:text-red-900 font-bold bg-none cursor-pointer"
    >
      ✕
    </span>
  </div>
</div>
