<div class="relative w-full min-h-[200px] overflow-hidden">
  <app-loader></app-loader>
  <div
    *ngIf="familyInfoForm"
    [formGroup]="familyInfoForm"
    class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4 p-4"
  >
    <!-- Field 1 -->
    <div class="form-group">
      <label>Book No</label>
      <input type="text" formControlName="book_no" class="lg:col-span-2" />
    </div>

    <!-- Field 2 -->
    <div class="form-group">
      <label>Parish</label>
      <input type="text" formControlName="parish" class="lg:col-span-2" />
    </div>

    <!-- Field 3 -->
    <div class="form-group">
      <label>Unit</label>
      <input type="text" formControlName="unit" class="lg:col-span-2" />
    </div>

    <!-- Field 4 -->
    <div class="form-group">
      <label>Family Name</label>
      <input type="text" formControlName="family_name" class="lg:col-span-2" />
    </div>

    <!-- Field 5 -->
    <div class="form-group">
      <label>Head of Family</label>
      <input
        type="text"
        formControlName="head_of_family"
        class="lg:col-span-2"
      />
    </div>

    <!-- Field 6 -->
    <div class="form-group">
      <label>Mobile</label>
      <input type="text" formControlName="mobile" class="lg:col-span-2" />
    </div>

    <!-- Field 7 -->
    <div class="form-group">
      <label>Create On</label>
      <input type="date" formControlName="created_date" class="lg:col-span-2" />
    </div>

    <!-- Field 7 -->
    <div class="form-group col-span-2">
      <div class="col-span-3 grid grid-cols-6 items-center justify-center">
        <label>Address</label>
        <input type="text" formControlName="address" class="col-span-5" />
      </div>
    </div>
  </div>

  <app-footer (modeUpdated)="onModeUpdated($event)"></app-footer>
</div>
