<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4 p-4">
  <!-- Field 1 -->
  <div class="form-group">
    <label>Book No</label>
    <input
      type="text"
      formControlName="first_name"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 2 -->
  <div class="form-group">
    <label>Parish</label>
    <input
      type="text"
      formControlName="last_name"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 3 -->
  <div class="form-group">
    <label>Unit</label>
    <input
      type="text"
      formControlName="phone"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 4 -->
  <div class="form-group">
    <label>Family Name</label>
    <input
      type="text"
      formControlName="relationship"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 5 -->
  <div class="form-group">
    <label>Head of Family</label>
    <input
      type="text"
      formControlName="father"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 6 -->
  <div class="form-group">
    <label>Mobile</label>
    <input
      type="text"
      formControlName="mother"
      class="lg:col-span-2"
    />
  </div>

  <!-- Field 7 -->
  <div class="form-group col-span-3">
    <label>Address</label>
    <input
      type="text"
      formControlName="dob"
      class="lg:col-span-2"
    />
  </div>
</div>

<app-footer></app-footer>