<div class="header">
  <h1>Family Record Details</h1>
</div>
<div class="panel m-4 shadow-sm">
  <app-tabs [tabs]="familyTabs"></app-tabs>
  <ng-template #familyInfoTemplate>
    <p>🏠 Family Details content goes here.</p>
  </ng-template>

  <ng-template #membersTemplate>
    <app-members [recordId]="recordId"></app-members>
  </ng-template>

  <ng-template #blessingsTemplate>
    <p>🏠 Blessings content goes here.</p>
  </ng-template>

  <ng-template #subscriptionsTemplate>
    <p>🏠 Subscriptions content goes here.</p>
  </ng-template>

  <ng-template #paymentsTemplate>
    <p>🏠 Payments content goes here.</p>
  </ng-template>

  <ng-template #miscellaneousTemplate>
    <p>🏠 Miscellenous content goes here.</p>
  </ng-template>
</div>
