<div class="header">
  <h1>Family Record Details</h1>
</div>
<div class="panel m-4 shadow-sm">
  <app-tabs [tabs]="familyTabs"></app-tabs>
  <ng-template #familyInfoTemplate>
    <app-family-info [recordId]="recordId"></app-family-info>
  </ng-template>

  <ng-template #membersTemplate>
    <app-members [recordId]="recordId"></app-members>
  </ng-template>

  <ng-template #blessingsTemplate>
    <app-blessings-section [recordId]="recordId"></app-blessings-section>
  </ng-template>

  <ng-template #subscriptionsTemplate>
    <app-subscriptions [recordId]="recordId"></app-subscriptions>
  </ng-template>

  <ng-template #paymentsTemplate>
    <app-payments [recordId]="recordId"></app-payments>
  </ng-template>

  <ng-template #miscellaneousTemplate>
    <app-miscellenous [recordId]="recordId"></app-miscellenous>
  </ng-template>
</div>
