<div class="header">
  <h3>Services List</h3>
  <div class="header-right-section">
    <button
      class="button text-sm ml-2"
      *appCanCreate="screen"
      (click)="onCreate()"
    >
      Create
    </button>
    <button
      class="button btn-danger text-sm ml-2"
      *appCanDelete="screen"
      (click)="onDelete()"
    >
      Delete
    </button>
  </div>
</div>
<div class="p-2 ag-theme-alpine">
  <ag-grid-angular
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
    [domLayout]="'autoHeight'"
    (gridReady)="onGridReady($event)"
    [rowSelection]="rowSelection"
    [alwaysMultiSort]="true"
  />
</div>
