<div class="header">
  <h3>Resources List</h3>
  <div *appCanCreate="screen" class="header-right-section">
    <button class="text-sm mx-2" (click)="addRow()">
      <fa-icon [icon]="faAdd"></fa-icon>Add Resource
    </button>
  </div>
</div>
<div class="p-2">
  <ag-grid-angular
    class="ag-theme-alpine w-full"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    [defaultColDef]="{ sortable: true, filter: false, resizable: true }"
    (gridReady)="onGridReady($event)"
    [domLayout]="'autoHeight'"
    [rowHeight]="50"
    [getRowId]="getRowId"
    [animateRows]="true"
  >
  </ag-grid-angular>
</div>
