<div class="header">
  <h1 *ngIf="association">{{ association.name }}</h1>
  <div class="header-right-section">
    <!-- Right side section to be added -->
  </div>
</div>

<div class="m-4">
  <!-- Association Infor Section  -->
  <div
    class="grid grid-cols-1 md:grid-cols-3 gap-4 my-4"
    [formGroup]="associationForm"
  >
    <!-- Association Name -->
    <div class="form-group">
      <label>Association</label>
      <input type="text" class="col-span-2" formControlName="name" />
    </div>

    <!-- Description -->
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="col-span-2" formControlName="description" />
    </div>

    <!-- Patron -->
    <div class="form-group">
      <label>Patron</label>
      <input type="text" class="col-span-2" formControlName="patron" />
    </div>

    <!-- Association Founded Date -->
    <div class="form-group">
      <label>Founded Date</label>
      <input type="date" class="col-span-2" formControlName="founded_date" />
    </div>

    <!-- Status -->
    <div class="form-group">
      <label>Status</label>
      <select class="col-span-2" formControlName="active">
        <option value="true">ACTIVE</option>
        <option value="false">IN-ACTIVE</option>
      </select>
    </div>
  </div>

  <app-tabs [tabs]="associationTabs" [activeTabIndex]="activeTab"></app-tabs>
  <app-association-committee
    *ngIf="activeTab === 0"
    [pyAssociationId]="pyAssociationId"
    [parishYearId]="parishYearId"
  ></app-association-committee>
  <app-association-members
    *ngIf="activeTab === 1"
    [pyAssociationId]="pyAssociationId"
    [parishYearId]="parishYearId"
  ></app-association-members>
</div>
