<div class="header">
  <h1>Bookings List</h1>
</div>
<div class="p-2 ag-theme-alpine">
  <div class="flex justify-end">
    <button
      class="button text-sm mx-2"
      *appCanCreate="screen"
      (click)="onCreate()"
    >
      Create
    </button>
    <button
      class="button text-sm mx-2"
      *appCanCreate="screen"
      (click)="onRowAction('payment')"
    >
      Make Payment
    </button>
    <button
      class="button btn-warning text-sm mx-2"
      *appCanDelete="screen"
      (click)="onRowAction('cancel')"
    >
      Cancel
    </button>
    <button
      class="button btn-danger text-sm mx-2"
      *appCanDelete="screen"
      (click)="onRowAction('delete')"
    >
      Delete
    </button>
  </div>
  <app-tabs [tabs]="bookingTab" [activeTabIndex]="activeTabIndex"></app-tabs>
  <ag-grid-angular
    class="ag-theme-alpine rounded-none"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
    [domLayout]="'autoHeight'"
    (gridReady)="onGridReady($event)"
    [rowSelection]="rowSelection"
  />
</div>
